In [1]:

# importamos las librer√≠as que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualizaci√≥n
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribuci√≥n de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Imputaci√≥n de nulos usando m√©todos avanzados estad√≠sticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Configuraci√≥n
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gesti√≥n de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# US Christmas Tree Sales - 2010 to 2016 ‚ú®

In [6]:
# cargamos el dataframe correspondiente 
df = pd.read_csv("archivos/US Christmas Tree Sales - 2010 to 2016.csv")

display(df.head(20))

,index,Year,Type of tree,Number of trees sold,Average Tree Price,Sales
0,0,2010,Real tree,27000000,36.12,975240000
1,1,2011,Real tree,30800000,34.87,1073996000
2,2,2012,Real tree,24500000,40.30,987350000
3,3,2013,Real tree,33020000,35.30,1165606000
4,4,2014,Real tree,26300000,39.50,1038850000
5,5,2015,Real tree,25900000,50.82,1316238000
6,6,2016,Real tree,27400000,74.70,2046780000
7,7,2010,Fake tree,8200000,64.61,529802000
8,8,2011,Fake tree,9500000,70.55,670225000
9,9,2012,Fake tree,10900000,72.50,790250000
10,10,2013,Fake tree,14700000,81.30,1195110000
11,11,2014,Fake tree,13900000,63.60,884040000
12,12,2015,Fake tree,12500000,69.38,867250000
13,13,2016,Fake tree,18600000,98.70,1835820000

Jueves de anta√±o: Ventas de √°rboles de Navidad en Estados Unidos

Este conjunto de datos ofrece un registro exhaustivo de las ventas anuales de √°rboles de Navidad en Estados Unidos desde 2010 hasta 2016. El conjunto de datos consta de seis columnas que incluyen informaci√≥n relevante sobre los datos de ventas de cada a√±o.

La columna A√±o indica el a√±o espec√≠fico en el que se registraron los datos de ventas de √°rboles de Navidad, lo que permite a los analistas comparar y realizar un seguimiento de las tendencias a lo largo del tiempo.

La columna Tipo de √°rbol especifica las distintas especies o tipos de √°rboles de Navidad que se vendieron durante cada a√±o concreto, lo que permite a los investigadores analizar las preferencias del mercado y las elecciones de los consumidores.

La columna N√∫mero de √°rboles vendidos representa la cantidad total de √°rboles de Navidad comprados por los clientes en un a√±o determinado. La identificaci√≥n de las fluctuaciones de esta m√©trica puede ofrecer informaci√≥n sobre los cambios en la demanda y el comportamiento del mercado.

La columna Precio medio de los √°rboles proporciona informaci√≥n importante sobre la din√°mica de precios en el sector. Mediante el c√°lculo y seguimiento de este precio medio para cada a√±o, los analistas pueden evaluar las variaciones en el comportamiento del gasto de los consumidores, as√≠ como identificar los posibles factores econ√≥micos que influyen en las decisiones de compra.

Por √∫ltimo, la columna Ventas presenta datos valiosos sobre los ingresos totales generados anualmente por estas ventas de √°rboles de Navidad. Esta m√©trica ofrece una perspectiva hol√≠stica sobre el rendimiento del mercado y la rentabilidad empresarial dentro de la temporada navide√±a.

En conjunto, este detallado conjunto de datos constituye un recurso fiable para los investigadores que pretenden comprender la situaci√≥n del mercado de los √°rboles de Navidad.

# Posibles analisis propuestos en la pagina üëÄ

- Analizar las tendencias de las ventas de √°rboles de Navidad a lo largo de los a√±os: Al examinar el n√∫mero de √°rboles vendidos, el precio medio del √°rbol y los ingresos por ventas de cada a√±o, este conjunto de datos puede proporcionar informaci√≥n sobre las preferencias de los consumidores y los factores econ√≥micos que influyen en las pautas de compra de √°rboles de Navidad.

- Comparaci√≥n del rendimiento de distintos tipos de √°rboles de Navidad: El conjunto de datos incluye informaci√≥n sobre los tipos o especies de √°rboles de Navidad vendidos. Esto puede utilizarse para analizar qu√© tipos espec√≠ficos de √°rboles son m√°s populares o generan mayores ingresos por ventas en un a√±o determinado.

In [3]:
def exploracion(df):
    df_info = pd.DataFrame()
    df_info["% nulos"] = round(df.isna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["% no_nulos"] = round(df.notna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = df.nunique()
    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0], 2)}% de los datos.
Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}
A continuaci√≥n tienes un detalle sobre los datos nulos y los tipos y n√∫mero de datos:""")
    display(df_info.head())
    print("Principales estad√≠sticos de las columnas categ√≥ricas:")
    display(df.describe(include="O").T)
    print("Principales estad√≠sticos de las columnas num√©ricas:")
    display(df.describe(exclude="O").T)
    return df_info

exploracion(df)

El DataFrame tiene 14 filas y 6 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 0 columnas con datos nulos, y son:
[]
y sin nulos hay 6 columnas y son:
['index', 'Year', 'Type of tree', 'Number of trees sold', 'Average Tree Price', 'Sales']
A continuaci√≥n tienes un detalle sobre los datos nulos y los tipos y n√∫mero de datos:

                     % nulos % no_nulos tipo_dato  num_valores_unicos
index                   0.0%     100.0%     int64                  14
Year                    0.0%     100.0%     int64                   7
Type of tree            0.0%     100.0%    object                   2
Number of trees sold    0.0%     100.0%     int64                  14
Average Tree Price      0.0%     100.0%   float64                  14

Principales estad√≠sticos de las columnas categ√≥ricas:

             count unique        top freq
Type of tree    14      2  Real tree    7

Principales estad√≠sticos de las columnas num√©ricas:

,count,mean,std,min,25%,50%,75%,max
index,14.0,6.500000e+00,4.183300e+00,0.000000e+00,3.250000e+00,6.500000e+00,9.750000e+00,1.300000e+01
Year,14.0,2.013000e+03,2.075498e+00,2.010000e+03,2.011250e+03,2.013000e+03,2.014750e+03,2.016000e+03
Number of trees sold,14.0,2.023000e+07,8.502216e+06,8.200000e+06,1.285000e+07,2.155000e+07,2.682500e+07,3.302000e+07
Average Tree Price,14.0,5.944643e+01,2.011009e+01,3.487000e+01,3.970000e+01,6.410500e+01,7.201250e+01,9.870000e+01
Sales,14.0,1.098326e+09,4.148357e+08,5.298020e+08,8.714475e+08,1.013100e+09,1.187734e+09,2.046780e+09

                     % nulos % no_nulos tipo_dato  num_valores_unicos
index                   0.0%     100.0%     int64                  14
Year                    0.0%     100.0%     int64                   7
Type of tree            0.0%     100.0%    object                   2
Number of trees sold    0.0%     100.0%     int64                  14
Average Tree Price      0.0%     100.0%   float64                  14
Sales                   0.0%     100.0%     int64                  14

# Valores unicos de las variables categoricas ‚ú®

In [4]:
# creamos una lista con los nombres de las columnas categoricas 
columnas = df.select_dtypes(include='object').columns.tolist()
print(columnas)
# empezamos a iterar por cada una de las columnas para sacar sus valores √∫nicos y sus frecuencias
for columna in columnas:
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores √∫nicos son: {df[columna].unique()}\n")
    print(f"Las frecuencias de los valores √∫nicos de las categor√≠as son: {df[columna].value_counts()} ")

['Type of tree']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TYPE OF TREE' -----------

Sus valores √∫nicos son: ['Real tree' 'Fake tree']

Las frecuencias de los valores √∫nicos de las categor√≠as son: Type of tree
Real tree    7
Fake tree    7
Name: count, dtype: int64

# DUPLICADOS

In [5]:
def get_duplicate_rows(df):
    """
    Encuentra y devuelve las filas completas duplicadas de un DataFrame.

    Args:
        df (pd.DataFrame): El DataFrame de entrada.

    Returns:
        pd.DataFrame: Un nuevo DataFrame con las filas duplicadas completas.
    """
    # Identificar duplicados basados en todas las columnas
    duplicate_rows = df[df.duplicated(keep=False)]
    return duplicate_rows

get_duplicate_rows(df)

Empty DataFrame
Columns: [index, Year, Type of tree, Number of trees sold, Average Tree Price, Sales]
Index: []