In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [8]:
# cargamos el dataframe correspondiente 
df = pd.read_csv("archivos/Amazon Sales FY2020-21.csv")

display(df.head(10))

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Sign in date,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,01/10/2020,received,574772,oasis_Oasis-064-36,21,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,01/10/2020,received,574774,Fantastic_FT-48,11,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,01/10/2020,complete,574777,mdeal_DMC-610-8,9,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,01/10/2020,complete,574779,oasis_Oasis-061-36,9,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,13/11/2020,received,595185,MEFNAR59C38B6CA08CD,2,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124,2020,Nov-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
5,100367357,13/11/2020,received,595186,MEFBUY59B7C3DDC2CA3-42,2,39.9,39.9,0.0,39.9,Men's Fashion,cod,Valid,60124,2020,Nov-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
6,100367360,13/11/2020,order_refunded,595192,MATDAN59C3C845B38F0,2,47.6,47.6,0.0,47.6,Mobiles & Tablets,cod,Valid,60124,2020,Nov-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
7,100354677,01/10/2020,canceled,574769,GFE_19_USBLEDLight,2,49.0,49.0,0.0,49.0,Mobiles & Tablets,Payaxis,Gross,42485,2020,Oct-20,171143,Prof.,Lee,S,Eaker,M,28,"Eaker, Lee",lee.eaker@gmail.com,02/04/1981,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
8,100354677,01/10/2020,canceled,574770,oasis_Kingston-32GB-DTIG4,2,135.0,135.0,0.0,135.0,Computing,Payaxis,Gross,42485,2020,Oct-20,171143,Prof.,Lee,S,Eaker,M,28,"Eaker, Lee",lee.eaker@gmail.com,02/04/1981,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0
9,100354677,01/10/2020,canceled,574771,Geepas_GSB5420,2,549.9,549.9,0.0,549.9,Appliances,Payaxis,Gross,42485,2020,Oct-20,171143,Prof.,Lee,S,Eaker,M,28,"Eaker, Lee",lee.eaker@gmail.com,02/04/1981,239-335-6755,Graham,Bradford,Graham,FL,32042,South,lseaker,0.0

In [5]:
def exploracion(df):
    df_info = pd.DataFrame()
    df_info["% nulos"] = round(df.isna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["% no_nulos"] = round(df.notna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = df.nunique()
    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0], 2)}% de los datos.
Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    display(df_info.head())
    print("Principales estadísticos de las columnas categóricas:")
    display(df.describe(include="O").T)
    print("Principales estadísticos de las columnas numéricas:")
    display(df.describe(exclude="O").T)
    return df_info

exploracion(df)

El DataFrame tiene 286392 filas y 35 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 0 columnas con datos nulos, y son:
[]
y sin nulos hay 35 columnas y son:
['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered', 'price', 'value', 'discount_amount', 'total', 'category', 'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender', 'age', 'full_name', 'E Mail', 'Sign in date', 'Phone No. ', 'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name', 'Discount_Percent']
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:

           % nulos % no_nulos tipo_dato  num_valores_unicos
order_id      0.0%     100.0%    object              201716
order_date    0.0%     100.0%    object                 365
status        0.0%     100.0%    object                  13
item_id       0.0%     100.0%     int64              286392
sku           0.0%     100.0%    object               47932

Principales estadísticos de las columnas categóricas:

                 count  unique                      top    freq
order_id        286392  201716                100476608      43
order_date      286392     365               20/12/2020   13678
status          286392      13                 canceled  112166
sku             286392   47932      MATSAM59DB75ADB2F80    3775
category        286392      15        Mobiles & Tablets   61761
payment_method  286392      13                      cod  102916
bi_st           286392       3                    Gross  112333
month           286392      12                   Dec-20   82528
Name Prefix     286392       7                      Mr.  103506
First Name      286392    5161                     Joel    2895
Middle Initial  286392      26                        U   13135
Last Name       286392   18208                 Gonzalez    2543
Gender          286392       2                        M  146184
full_name       286392   64212           Gonzalez, Joel    2524
E Mail          286392   64246  joel.gonzalez@yahoo.com    2524
Sign in date    286392   11647               11/30/2005    2536
Phone No.       286392   64248             217-861-7640    2524
Place Name      286392   15892                   Dekalb    2525
County          286392    2551                Jefferson    3510
City            286392   15892                   Dekalb    2525
State           286392      51                       TX   17510
Region          286392       4                    South  103482
User Name       286392   64006               jugonzalez    2524

Principales estadísticos de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
item_id,286392.0,741664.902131,95746.031827,574769.0,659684.50,742309.00,826124.25000,905208.00
qty_ordered,286392.0,3.011296,4.573837,1.0,2.00,2.00,3.00000,501.00
price,286392.0,851.385253,1741.750751,0.0,49.90,119.00,950.00000,101262.59
value,286392.0,885.879934,2073.252179,0.0,49.90,158.97,910.00000,101262.59
discount_amount,286392.0,70.039427,256.880870,0.0,0.00,0.00,18.38305,30213.15
total,286392.0,815.840507,1983.580302,0.0,49.90,149.80,800.00000,101262.59
cust_id,286392.0,70048.019054,30243.856395,4.0,56519.00,74225.50,92357.00000,115326.00
year,286392.0,2020.618778,0.485688,2020.0,2020.00,2021.00,2021.00000,2021.00
ref_num,286392.0,560853.663395,255828.418398,111127.0,341265.00,564857.00,781086.00000,999981.00
age,286392.0,46.489033,16.673288,18.0,32.00,47.00,61.00000,75.00
Zip,286392.0,49723.160015,27597.198873,210.0,26571.75,49316.00,72645.00000,99950.00
Discount_Percent,286392.0,6.069079,10.100100,0.0,0.00,0.00,11.00000,75.00

                 % nulos % no_nulos tipo_dato  num_valores_unicos
order_id            0.0%     100.0%    object              201716
order_date          0.0%     100.0%    object                 365
status              0.0%     100.0%    object                  13
item_id             0.0%     100.0%     int64              286392
sku                 0.0%     100.0%    object               47932
qty_ordered         0.0%     100.0%     int64                  72
price               0.0%     100.0%   float64                7561
value               0.0%     100.0%   float64               10607
discount_amount     0.0%     100.0%   float64               13732
total               0.0%     100.0%   float64               23755
category            0.0%     100.0%    object                  15
payment_method      0.0%     100.0%    object                  13
bi_st               0.0%     100.0%    object                   3
cust_id             0.0%     100.0%     int64               64248
year                0.0%     100.0%     int64                   2
month               0.0%     100.0%    object                  12
ref_num             0.0%     100.0%     int64               62065
Name Prefix         0.0%     100.0%    object                   7
First Name          0.0%     100.0%    object                5161
Middle Initial      0.0%     100.0%    object                  26
Last Name           0.0%     100.0%    object               18208
Gender              0.0%     100.0%    object                   2
age                 0.0%     100.0%     int64                  58
full_name           0.0%     100.0%    object               64212
E Mail              0.0%     100.0%    object               64246
Sign in date        0.0%     100.0%    object               11647
Phone No.           0.0%     100.0%    object               64248
Place Name          0.0%     100.0%    object               15892
County              0.0%     100.0%    object                2551
City                0.0%     100.0%    object               15892
State               0.0%     100.0%    object                  51
Zip                 0.0%     100.0%     int64               33773
Region              0.0%     100.0%    object                   4
User Name           0.0%     100.0%    object               64006
Discount_Percent    0.0%     100.0%   float64               17009

# Valores unicos de las variables categoricas ✨

In [6]:
# creamos una lista con los nombres de las columnas categoricas 
columnas = df.select_dtypes(include='object').columns.tolist()
print(columnas)
# empezamos a iterar por cada una de las columnas para sacar sus valores únicos y sus frecuencias
for columna in columnas:
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores únicos son: {df[columna].unique()}\n")
    print(f"Las frecuencias de los valores únicos de las categorías son: {df[columna].value_counts()} ")

['order_id', 'order_date', 'status', 'sku', 'category', 'payment_method', 'bi_st', 'month', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender', 'full_name', 'E Mail', 'Sign in date', 'Phone No. ', 'Place Name', 'County', 'City', 'State', 'Region', 'User Name']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ORDER_ID' -----------

Sus valores únicos son: [100354678 100354680 100367357 ... 100562383 100562384 100562386]

Las frecuencias de los valores únicos de las categorías son: order_id
100476608    43
100535753    41
100535749    40
100535744    40
100535739    40
             ..
100398603     1
100398610     1
100398613     1
100398619     1
100398593     1
Name: count, Length: 201716, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ORDER_DATE' -----------

Sus valores únicos son: ['01/10/2020' '13/11/2020' '08/10/2020' '21/10/2020' '24/12/2020'
 '28/12/2020' '22/10/2020' '24/10/2020' '25/10/2020' '09/10/2020'
 '16/10/2020' '17/10/2020' '19/10/2020' '02/10/2020' '11/10/2020'
 '01/11/2020' '08/12/2020' '23/12/2020' '01/02/2021' '25/06/2021'
 '19/09/2021' '10/10/2020' '14/10/2020' '07/11/2020' '20/12/2020'
 '17/02/2021' '02/04/2021' '06/04/2021' '12/04/2021' '23/07/2021'
 '28/07/2021' '17/08/2021' '06/11/2020' '21/11/2020' '13/12/2020'
 '22/12/2020' '04/02/2021' '01/03/2021' '03/03/2021' '03/04/2021'
 '15/04/2021' '21/05/2021' '12/10/2020' '29/06/2021' '06/10/2020'
 '05/10/2020' '01/12/2020' '07/12/2020' '27/12/2020' '21/01/2021'
 '24/01/2021' '25/01/2021' '09/02/2021' '14/02/2021' '19/02/2021'
 '20/02/2021' '26/02/2021' '28/02/2021' '17/03/2021' '20/03/2021'
 '25/03/2021' '27/03/2021' '14/04/2021' '19/05/2021' '28/05/2021'
 '30/05/2021' '31/05/2021' '08/06/2021' '11/06/2021' '20/06/2021'
 '24/06/2021' '08/07/2021' '11/07/2021' '22/07/2021' '11/09/2021'
 '16/09/2021' '17/09/2021' '15/11/2020' '15/10/2020' '21/12/2020'
 '26/12/2020' '29/12/2020' '31/12/2020' '18/01/2021' '03/02/2021'
 '05/02/2021' '13/02/2021' '23/02/2021' '31/10/2020' '11/11/2020'
 '18/11/2020' '22/11/2020' '23/11/2020' '26/11/2020' '27/11/2020'
 '03/12/2020' '06/12/2020' '09/12/2020' '10/12/2020' '12/12/2020'
 '19/12/2020' '25/12/2020' '30/12/2020' '01/01/2021' '04/01/2021'
 '08/01/2021' '10/01/2021' '11/01/2021' '06/02/2021' '11/02/2021'
 '08/03/2021' '18/03/2021' '31/03/2021' '01/04/2021' '04/04/2021'
 '08/04/2021' '11/04/2021' '16/04/2021' '17/04/2021' '18/04/2021'
 '25/04/2021' '27/04/2021' '27/05/2021' '06/06/2021' '12/11/2020'
 '01/06/2021' '10/06/2021' '26/10/2020' '05/12/2020' '14/12/2020'
 '18/12/2020' '02/01/2021' '06/05/2021' '26/08/2021' '29/08/2021'
 '30/08/2021' '03/09/2021' '08/09/2021' '10/09/2021' '15/09/2021'
 '30/10/2020' '11/03/2021' '12/09/2021' '13/10/2020' '18/10/2020'
 '29/11/2020' '03/10/2020' '29/10/2020' '25/11/2020' '28/11/2020'
 '02/12/2020' '18/07/2021' '05/04/2021' '09/06/2021' '19/07/2021'
 '08/11/2020' '20/11/2020' '07/01/2021' '14/01/2021' '28/01/2021'
 '25/02/2021' '05/03/2021' '12/03/2021' '19/03/2021' '30/04/2021'
 '12/05/2021' '26/05/2021' '02/06/2021' '07/06/2021' '12/06/2021'
 '13/06/2021' '16/06/2021' '17/06/2021' '14/07/2021' '05/08/2021'
 '12/08/2021' '14/08/2021' '15/08/2021' '09/09/2021' '18/09/2021'
 '13/01/2021' '22/01/2021' '23/01/2021' '04/03/2021' '24/03/2021'
 '05/11/2020' '09/11/2020' '16/12/2020' '31/01/2021' '02/02/2021'
 '13/09/2021' '23/10/2020' '23/08/2021' '28/10/2020' '11/12/2020'
 '17/11/2020' '28/03/2021' '18/02/2021' '07/04/2021' '09/04/2021'
 '19/08/2021' '21/08/2021' '02/03/2021' '06/08/2021' '04/11/2020'
 '16/11/2020' '19/11/2020' '30/11/2020' '17/12/2020' '06/01/2021'
 '15/01/2021' '20/01/2021' '07/02/2021' '08/02/2021' '24/02/2021'
 '06/03/2021' '14/03/2021' '21/03/2021' '10/04/2021' '23/05/2021'
 '10/07/2021' '25/07/2021' '26/07/2021' '04/08/2021' '22/08/2021'
 '01/09/2021' '02/09/2021' '04/09/2021' '05/09/2021' '07/10/2020'
 '14/11/2020' '03/01/2021' '16/01/2021' '22/02/2021' '02/07/2021'
 '02/05/2021' '21/07/2021' '31/07/2021' '27/07/2021' '14/05/2021'
 '05/07/2021' '06/07/2021' '07/07/2021' '16/03/2021' '20/10/2020'
 '09/01/2021' '20/04/2021' '24/04/2021' '09/05/2021' '11/05/2021'
 '19/06/2021' '28/06/2021' '27/10/2020' '08/05/2021' '07/08/2021'
 '21/02/2021' '18/05/2021' '29/01/2021' '29/05/2021' '01/07/2021'
 '30/07/2021' '16/08/2021' '27/08/2021' '27/09/2021' '02/11/2020'
 '10/11/2020' '04/10/2020' '29/03/2021' '26/04/2021' '15/12/2020'
 '26/01/2021' '26/03/2021' '22/05/2021' '21/06/2021' '18/08/2021'
 '26/09/2021' '28/09/2021' '30/03/2021' '26/06/2021' '27/06/2021'
 '03/07/2021' '12/07/2021' '10/02/2021' '05/05/2021' '05/06/2021'
 '02/08/2021' '06/09/2021' '24/11/2020' '27/01/2021' '30/01/2021'
 '22/03/2021' '20/05/2021' '14/09/2021' '28/04/2021' '13/05/2021'
 '17/01/2021' '04/12/2020' '08/08/2021' '04/05/2021' '10/05/2021'
 '09/08/2021' '31/08/2021' '29/09/2021' '22/06/2021' '23/06/2021'
 '04/07/2021' '12/02/2021' '30/06/2021' '19/01/2021' '22/04/2021'
 '27/02/2021' '16/02/2021' '25/08/2021' '07/09/2021' '23/03/2021'
 '13/04/2021' '07/03/2021' '03/11/2020' '29/07/2021' '20/08/2021'
 '24/08/2021' '20/09/2021' '21/09/2021' '23/09/2021' '24/09/2021'
 '30/09/2021' '11/08/2021' '01/05/2021' '18/06/2021' '23/04/2021'
 '13/03/2021' '03/05/2021' '14/06/2021' '15/05/2021' '09/07/2021'
 '01/08/2021' '03/06/2021' '10/08/2021' '15/07/2021' '03/08/2021'
 '15/03/2021' '16/05/2021' '29/04/2021' '04/06/2021' '15/02/2021'
 '19/04/2021' '15/06/2021' '25/05/2021' '07/05/2021' '12/01/2021'
 '05/01/2021' '09/03/2021' '25/09/2021' '22/09/2021' '17/05/2021'
 '21/04/2021' '13/08/2021' '24/05/2021' '28/08/2021' '13/07/2021'
 '24/07/2021' '10/03/2021' '16/07/2021' '17/07/2021' '20/07/2021']

Las frecuencias de los valores únicos de las categorías son: order_date
20/12/2020    13678
27/12/2020    13189
21/12/2020     7217
30/04/2021     6256
28/12/2020     5316
              ...
20/07/2021      136
25/09/2021      129
20/10/2020      123
30/09/2021      100
24/09/2021       92
Name: count, Length: 365, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'STATUS' -----------

Sus valores únicos son: ['received' 'complete' 'order_refunded' 'canceled' 'refund' 'cod' 'paid'
 'processing' 'closed' 'pending' 'pending_paypal' 'payment_review'
 'holded']

Las frecuencias de los valores únicos de las categorías son: status
canceled          112166
complete           88968
received           51775
order_refunded     25713
refund              3820
cod                 2851
paid                 756
closed               176
payment_review        57
pending               48
processing            33
holded                25
pending_paypal         4
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'SKU' -----------

Sus valores únicos son: ['oasis_Oasis-064-36' 'Fantastic_FT-48' 'mdeal_DMC-610-8' ...
 'MEFMOV5AD9155B0C0DC-M' 'WOFVAL59D5EA84167F9-M' 'WOFNIG5B4D7EB0E9FDD-L']

Las frecuencias de los valores únicos de las categorías son: sku
MATSAM59DB75ADB2F80       3775
MATSAM59DB757FB47A2       1273
APPNAT5A0A01860CE92       1173
MATSAM5A7463EE3C1A5       1171
ENTECO5A7FE80D6C830       1023
                          ...
WOFMAU5A1572FE1EC13-XL       1
WOFMAU59D4C897D5E95          1
COMDAN5B20B4EE167EF          1
MATBIG5B1648D80ED51          1
GeepasGVC2568                1
Name: count, Length: 47932, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'CATEGORY' -----------

Sus valores únicos son: ["Men's Fashion" 'Mobiles & Tablets' 'Computing' 'Appliances'
 'Home & Living' "Women's Fashion" 'Health & Sports' 'Beauty & Grooming'
 'Superstore' 'Others' 'Entertainment' 'Soghaat' 'Kids & Baby' 'Books'
 'School & Education']

Las frecuencias de los valores únicos de las categorías son: category
Mobiles & Tablets     61761
Men's Fashion         40713
Appliances            33034
Women's Fashion       28334
Others                26108
Beauty & Grooming     17899
Entertainment         17352
Superstore            15024
Home & Living         13990
Health & Sports        8421
Computing              8110
Soghaat                7250
Kids & Baby            6492
School & Education     1090
Books                   814
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'PAYMENT_METHOD' -----------

Sus valores únicos son: ['cod' 'Payaxis' 'Easypay' 'jazzwallet' 'Easypay_MA' 'jazzvoucher'
 'easypay_voucher' 'customercredit' 'bankalfalah' 'apg' 'mcblite'
 'cashatdoorstep' 'financesettlement']

Las frecuencias de los valores únicos de las categorías son: payment_method
cod                  102916
Easypay               69679
Payaxis               31049
easypay_voucher       29763
bankalfalah           23057
Easypay_MA            11536
jazzwallet             6669
jazzvoucher            6045
customercredit         3702
apg                    1758
mcblite                 208
cashatdoorstep            9
financesettlement         1
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'BI_ST' -----------

Sus valores únicos son: ['Valid' 'Net' 'Gross']

Las frecuencias de los valores únicos de las categorías son: bi_st
Gross    112333
Net       89144
Valid     84915
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'MONTH' -----------

Sus valores únicos son: ['Oct-20' 'Nov-20' 'Dec-20' 'Feb-21' 'Jun-21' 'Sep-21' 'Apr-21' 'Jul-21'
 'Aug-21' 'Mar-21' 'May-21' 'Jan-21']

Las frecuencias de los valores únicos de las categorías son: month
Dec-20    82528
Apr-21    42138
Mar-21    26852
Jun-21    26804
Nov-20    17364
Jan-21    17212
Jul-21    15340
May-21    14815
Sep-21    12483
Aug-21    11428
Feb-21    10141
Oct-20     9287
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'NAME PREFIX' -----------

Sus valores únicos son: ['Drs.' 'Prof.' 'Mr.' 'Hon.' 'Ms.' 'Mrs.' 'Dr.']

Las frecuencias de los valores únicos de las categorías son: Name Prefix
Mr.      103506
Ms.       60314
Mrs.      47247
Hon.      30439
Drs.      16180
Prof.     14939
Dr.       13767
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'FIRST NAME' -----------

Sus valores únicos son: ['Jani' 'Lee' 'Jason' ... 'Georgie' 'Karla' 'Nedra']

Las frecuencias de los valores únicos de las categorías son: First Name
Joel       2895
Eulah       719
Liz         628
Percy       563
Leigh       505
           ...
Latoyia       1
Sarina        1
Shelly        1
Terresa       1
Roxy          1
Name: count, Length: 5161, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'MIDDLE INITIAL' -----------

Sus valores únicos son: ['W' 'S' 'G' 'X' 'U' 'T' 'K' 'E' 'Z' 'J' 'F' 'M' 'B' 'O' 'D' 'N' 'A' 'Y'
 'P' 'V' 'C' 'I' 'H' 'Q' 'R' 'L']

Las frecuencias de los valores únicos de las categorías son: Middle Initial
U    13135
N    11978
C    11891
P    11861
W    11667
Y    11513
I    11470
Q    11287
E    11185
J    11152
R    11131
X    11057
T    11003
O    10961
G    10957
D    10763
F    10759
K    10700
V    10594
Z    10335
A    10322
M    10311
S    10289
B    10216
L    10032
H     9823
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'LAST NAME' -----------

Sus valores únicos son: ['Titus' 'Eaker' 'Simoneau' ... 'Woodmansee' 'Crofoot' 'Latham']

Las frecuencias de los valores únicos de las categorías son: Last Name
Gonzalez     2543
Bailes        715
Melo          615
Braddy        454
Beebe         423
             ...
Kindig          1
Greenwell       1
Nau             1
Considine       1
Broadway        1
Name: count, Length: 18208, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'GENDER' -----------

Sus valores únicos son: ['F' 'M']

Las frecuencias de los valores únicos de las categorías son: Gender
M    146184
F    140208
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'FULL_NAME' -----------

Sus valores únicos son: ['Titus, Jani' 'Eaker, Lee' 'Simoneau, Jason' ... 'Brunetti, Bennie'
 'Giusti, Francesca' 'Schlosser, Rolf']

Las frecuencias de los valores únicos de las categorías son: full_name
Gonzalez, Joel      2524
Bailes, Eulah        707
Melo, Liz            608
Braddy, Percy        436
Beebe, Hortencia     397
                    ...
Carmean, Odell         1
Rubino, Manuel         1
Stultz, Jasmin         1
Dion, Mike             1
Gardin, Ezekiel        1
Name: count, Length: 64212, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'E MAIL' -----------

Sus valores únicos son: ['jani.titus@gmail.com' 'lee.eaker@gmail.com' 'jason.simoneau@gmail.com'
 ... 'bennie.brunetti@gmail.com' 'francesca.giusti@btinternet.com'
 'rolf.schlosser@comcast.net']

Las frecuencias de los valores únicos de las categorías son: E Mail
joel.gonzalez@yahoo.com        2524
eulah.bailes@gmail.com          707
liz.melo@ibm.com                608
percy.braddy@gmail.com          436
hortencia.beebe@hotmail.com     397
                               ...
manuel.rubino@hotmail.com         1
jasmin.stultz@hotmail.com         1
mike.dion@gmail.com               1
ezekiel.gardin@gmail.com          1
olen.reinhart@yahoo.com           1
Name: count, Length: 64246, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'SIGN IN DATE' -----------

Sus valores únicos son: ['8/22/2006' '02/04/1981' '6/27/2010' ... '6/14/1980' '4/14/1991'
 '3/26/1986']

Las frecuencias de los valores únicos de las categorías son: Sign in date
11/30/2005    2536
02/08/2017     774
5/17/2015      659
06/11/2017     541
12/25/2016     491
              ...
06/11/1991       1
11/01/1996       1
1/27/1982        1
12/29/1980       1
2/15/1980        1
Name: count, Length: 11647, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'PHONE NO. ' -----------

Sus valores únicos son: ['405-959-1129' '239-335-6755' '701-522-6439' ... '229-817-9451'
 '252-414-8396' '423-276-2699']

Las frecuencias de los valores únicos de las categorías son: Phone No.
217-861-7640    2524
215-203-6895     707
303-768-6337     608
210-868-6884     436
802-964-9945     397
                ...
314-817-1752       1
209-579-2266       1
304-345-7144       1
314-697-9380       1
303-747-3969       1
Name: count, Length: 64248, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'PLACE NAME' -----------

Sus valores únicos son: ['Vinson' 'Graham' 'Grand Forks' ... 'Mineville' 'Beach' 'Valera']

Las frecuencias de los valores únicos de las categorías son: Place Name
Dekalb           2525
Washington       2008
New York City    1391
Houston          1250
El Paso          1019
                 ...
Sanbornton          1
Bybee               1
Macfarlan           1
Grand Marsh         1
Palmer Lake         1
Name: count, Length: 15892, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'COUNTY' -----------

Sus valores únicos son: ['Harmon' 'Bradford' 'Grand Forks' ... 'Greensville' 'Laporte' 'Endicott']

Las frecuencias de los valores únicos de las categorías son: County
Jefferson        3510
Los Angeles      3198
DeKalb           3098
Washington       2863
Montgomery       2563
                 ...
Vicco               1
Minneapolis         1
Agoura Hills        1
Byron               1
Cauthornville       1
Name: count, Length: 2551, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'CITY' -----------

Sus valores únicos son: ['Vinson' 'Graham' 'Grand Forks' ... 'Mineville' 'Beach' 'Valera']

Las frecuencias de los valores únicos de las categorías son: City
Dekalb           2525
Washington       2008
New York City    1391
Houston          1250
El Paso          1019
                 ...
Sanbornton          1
Bybee               1
Macfarlan           1
Grand Marsh         1
Palmer Lake         1
Name: count, Length: 15892, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'STATE' -----------

Sus valores únicos son: ['OK' 'FL' 'ND' 'HI' 'WY' 'GA' 'TN' 'RI' 'IL' 'KY' 'AZ' 'AR' 'MS' 'NE'
 'NJ' 'WV' 'CA' 'MO' 'LA' 'TX' 'MI' 'PA' 'VA' 'MN' 'MT' 'ME' 'NM' 'IA'
 'OH' 'SC' 'NC' 'UT' 'IN' 'AL' 'VT' 'NY' 'SD' 'CT' 'OR' 'NH' 'CO' 'DC'
 'MD' 'ID' 'KS' 'NV' 'AK' 'WA' 'MA' 'WI' 'DE']

Las frecuencias de los valores únicos de las categorías son: State
TX    17510
CA    17130
NY    15567
PA    14394
IL    12628
FL    10538
OH    10204
MO     8876
VA     8557
IA     8170
MN     8020
NC     7549
KY     7397
MI     7137
IN     6738
WV     6447
GA     6346
WI     5529
OK     5253
AL     5252
CO     5036
MA     5001
NJ     4984
TN     4981
KS     4879
AR     4864
LA     4709
MD     4163
WA     4155
NE     3775
SC     3771
AZ     3712
MS     3565
OR     3179
MT     3122
CT     3037
SD     2993
NM     2987
ME     2857
UT     2650
AK     2509
VT     2504
ND     2350
ID     2348
DC     1865
WY     1727
NV     1725
NH     1695
HI      800
DE      715
RI      492
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'REGION' -----------

Sus valores únicos son: ['South' 'Midwest' 'West' 'Northeast']

Las frecuencias de los valores únicos de las categorías son: Region
South        103482
Midwest       81299
West          51080
Northeast     50531
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'USER NAME' -----------

Sus valores únicos son: ['jwtitus' 'lseaker' 'jgsimoneau' ... 'bmbrunetti' 'fngiusti'
 'reschlosser']

Las frecuencias de los valores únicos de las categorías son: User Name
jugonzalez    2524
exbailes       707
lumelo         608
pnbraddy       436
hmbeebe        397
              ...
macolombo        1
hbcyphers        1
fjstough         1
otcarmean        1
mzrubino         1
Name: count, Length: 64006, dtype: int64

# DUPLICADOS

In [7]:
def get_duplicate_rows(df):
    """
    Encuentra y devuelve las filas completas duplicadas de un DataFrame.

    Args:
        df (pd.DataFrame): El DataFrame de entrada.

    Returns:
        pd.DataFrame: Un nuevo DataFrame con las filas duplicadas completas.
    """
    # Identificar duplicados basados en todas las columnas
    duplicate_rows = df[df.duplicated(keep=False)]
    return duplicate_rows

get_duplicate_rows(df)

Empty DataFrame
Columns: [order_id, order_date, status, item_id, sku, qty_ordered, price, value, discount_amount, total, category, payment_method, bi_st, cust_id, year, month, ref_num, Name Prefix, First Name, Middle Initial, Last Name, Gender, age, full_name, E Mail, Sign in date, Phone No. , Place Name, County, City, State, Zip, Region, User Name, Discount_Percent]
Index: []